<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.rule.engine.mapper.ApplicationTemplateMapper">

    <resultMap id="BaseResultMap" type="com.github.rule.engine.entity.ApplicationTemplate">
        <!--@Table T_APPLICATION_TEMPLATE-->
        <result property="id" column="ID" jdbcType="VARCHAR"/>
        <result property="segmentCode" column="SEGMENT_CODE" jdbcType="VARCHAR"/>
        <result property="segmentName" column="SEGMENT_NAME" jdbcType="VARCHAR"/>
        <result property="columnName" column="COLUMN_NAME" jdbcType="VARCHAR"/>
        <result property="columnType" column="COLUMN_TYPE" jdbcType="VARCHAR"/>
        <result property="isRequest" column="IS_REQUEST" jdbcType="VARCHAR"/>
        <result property="remarks" column="REMARKS" jdbcType="VARCHAR"/>
        <result property="customSql" column="CUSTOM_SQL" jdbcType="VARCHAR"/>
        <result property="segmentType" column="SEGMENT_TYPE" jdbcType="VARCHAR"/>
        <result property="orderSort" column="ORDER_SORT" jdbcType="VARCHAR"/>
        <result property="dateTime" column="DATE_TIME" jdbcType="TIMESTAMP"/>
        <result property="status" column="STATUS" jdbcType="VARCHAR"/>
        <result property="inOut" column="IN_OUT" jdbcType="VARCHAR"/>
        <result property="isJoin" column="IS_JOIN" jdbcType="VARCHAR"/>
        <result property="joinCode" column="JOIN_CODE" jdbcType="VARCHAR"/>
        <result property="applicationId" column="APPLICATION_ID" jdbcType="VARCHAR"/>
        <result property="fieldName" column="FIELD_NAME" jdbcType="VARCHAR"/>
        <result property="fieldType" column="FIELD_TYPE" jdbcType="VARCHAR"/>
        <result property="arithmetic" column="arithmetic" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="getInParam" resultType="java.lang.String">
        SELECT segment_code FROM t_application_template WHERE application_id = #{applicationId} AND in_out = #{inOut} AND status = '1' ORDER BY order_sort
    </select>

    <select id="findListByApplicationCode" resultMap="BaseResultMap">
      SELECT tt.* FROM t_application_template tt ,t_application t
       WHERE t.id = tt.application_id AND t.application_code = #{applicationCode}
       AND tt.status = '1' AND t.status = '1' ORDER BY tt.order_sort
    </select>


</mapper>