<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.rule.engine.mapper.ApplicationMapper">

    <resultMap type="com.github.rule.engine.entity.Application" id="TApplicationMap">
        <result property="id" column="ID" jdbcType="VARCHAR"/>
        <result property="applicationName" column="APPLICATION_NAME" jdbcType="VARCHAR"/>
        <result property="applicationCode" column="APPLICATION_CODE" jdbcType="VARCHAR"/>
        <result property="remarks" column="REMARKS" jdbcType="VARCHAR"/>
        <result property="dateTime" column="DATE_TIME" jdbcType="OTHER"/>
        <result property="status" column="STATUS" jdbcType="OTHER"/>
        <result property="parentId" column="PARENT_ID" jdbcType="VARCHAR"/>
        <result property="rootId" column="ROOT_ID" jdbcType="VARCHAR"/>
        <result property="orderSort" column="ORDER_SORT" jdbcType="OTHER"/>
    </resultMap>

    <select id="findTree" resultType="com.github.rule.engine.dto.ApplicationTreeView">
         SELECT t.id,level,
                t.parent_id as parentId,
                t.application_name AS applicationName,
                t.application_code AS applicationCode,
                t.date_time AS  dateTime,
                decode(t.status,'1','启用','2','禁用') AS status
            FROM t_application t
            where t.status = '1'
                START WITH t.parent_id = '0'
                CONNECT BY t.parent_id = PRIOR t.id
                ORDER BY order_sort
    </select>
    <select id="findTable" resultType="com.github.rule.engine.dto.ApplicationTableDTO">
        SELECT app.id, app.remarks, app.date_time as dateTime,app.application_code as applicationCode,
           lpad(' ', (level - 1) * 4, ' ') || app.application_name as applicationName,
           connect_by_isleaf as isLeaf, --是否为叶子节点：1-是；0-否；
           connect_by_root app.application_name as rootName --当前节点的根节点
          FROM t_application app
            start with app.parent_id = '0'
            connect by prior app.id = app.parent_id order by app.order_sort
    </select>


</mapper>