<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.rule.engine.dao.TViewDao">

    <resultMap id="BaseResultMap" type="com.github.rule.engine.entity.View">
        <!--@Table T_VIEW-->
        <result property="id" column="ID" jdbcType="VARCHAR"/>
        <result property="viewCode" column="VIEW_CODE" jdbcType="VARCHAR"/>
        <result property="viewName" column="VIEW_NAME" jdbcType="VARCHAR"/>
        <result property="joinOn" column="JOIN_ON" jdbcType="VARCHAR"/>
        <result property="groupColumn" column="GROUP_COLUMN" jdbcType="VARCHAR"/>
        <result property="sqlStr" column="SQL_STR" jdbcType="VARCHAR"/>
        <result property="filterWhere" column="FILTER_WHERE" jdbcType="VARCHAR"/>
        <result property="masterTableName" column="MASTER_TABLE_NAME" jdbcType="VARCHAR"/>
        <result property="javaInterface" column="JAVA_INTERFACE" jdbcType="VARCHAR"/>
    </resultMap>


</mapper>